.analizaContainer{
    margin-top: 80px;
}

.conceptsContainer{
    margin-top: 80px;
    height: auto;
    background: #946161;
    padding: 30px;
    text-align: center;
}

.column{
    display: flex;
    flex-direction: column;
}

.oneLine{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

sup{
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub{
    vertical-align: baseline;
    position: relative;
    top: 0.3em;
}
.nospace{
    top: 0;
}
.bigspace{
    top: -0.8em;
}

.verySmall{
    font-size: 1px;
    margin-bottom: 15px;
}

.centerVertical{
    align-items: center;
}

.dwumianOgol{
    border: 1px solid black;
    background: black;
    padding-right: 14px;
    padding-left: 14px;
}

.italic{
    font-style: italic;
}

p{
    font-size: 18px;
}

MathJax{
    margin-top: 20px;
}